<h2>tyniApp</h2>
<% if (user && user.email) { %>
  <label for="username"><%= user.email %></label>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
<% } else { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <!-- <form method="POST" action="/login">
    <input type="text" name="username">
    <button type="submit">Login</button>
  </form> -->
<% } %>
