<!DOCTYPE html>
<html lang="en">
<head>
  <title>tinyApp</title>
</head>
<body>
  <!-- EJS goes here-->
  <header>
    <% include ./partials/_header %>
  </header>
  <form method="POST" action="/urls/b2xVn2/delete">
    <label><%= urls['b2xVn2'] %></label><a href="/urls/b2xVn2/">Edit</a></br>
    <button>DELETE</button>
  </form></br>
  <form method="POST" action="/urls/9sm5xK/delete">
    <label><%= urls['9sm5xK'] %></label><a href="/urls/9sm5xK/">Edit</a></br>
    <button>DELETE</button>
  </form>
</body>
</html>