<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
  <% include ./partials/_header %>
</header>
  <form method="POST" action="/urls/<%= shortURL %>">
    <label for="name">SHORTurl: <%= shortURL %></label></br>
    <input id="name" type="text" name="newUrl" value="<%= urls %>">
    <button type="submit">Update</button>
  </form>
</body>
</html>