<!DOCTYPE html>
<html lang="en">
<head>
  <title>tinyApp</title>
</head>
<body>
  <!-- EJS goes here-->
  <header>
    <% include ./partials/_header %>
  </header>
  <% if (user && user.email) { %>
    <% for (let url in urls) { %>
      <form method="POST" action="/urls/<%= urls[url].longURL %>/delete">
        <a href="/u/<%= url %>"><label><%= urls[url].longURL %></label></a>
        <a href="/urls/<%= url %>/">Edit</a></br>

        <button>DELETE</button>

      </form></br>
    <% } %>
  <% } %>
</body>
</html>