<!DOCTYPE html>
<html>
<head>
  <title>tinyApp | Register</title>
</head>
<body>
  <a href="/urls"><h2>tyniApp</h2></a>
  <form method="POST" action="/register">
    <label>Register</label></br>
    <input type="email" name="email" placeholder="email"></br>
    <input type="password" name="password" placeholder="password"></br>
    <button type="submit">Submit</button>
  </form>

</body>
</html>