<!DOCTYPE html>
<html>
<head>
  <title>tinyApp | Register</title>
</head>
<body>
  <form method="POST" action="/register">
    <input type="email" name="email" placeholder="email"></br>
    <input type="password" name="password" placeholder="password">
    <button type="submit">Submit</button>
  </form>

</body>
</html>